<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<!-- Security goes in the root context so the DelegatingFilterProxy can find it -->
		<param-value>
			classpath:/spring/beans-service.xml
			classpath:/spring/beans-security.xml
		</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Filters -->
	<filter>
		<filter-name>sitemapFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	
	<!-- Filter mappings -->
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<servlet-name>ui</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>sitemapFilter</filter-name>
		<servlet-name>ui</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		
		<!-- Use FORWARD to support the Access Denied page -->
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	
	<!-- Servlets -->
	<servlet>
		<servlet-name>api</servlet-name>
		<servlet-class>org.springframework.data.rest.webmvc.RepositoryRestExporterServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ui</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>
				classpath:/spring/beans-web.xml
			</param-value>
		</init-param>
	</servlet>
	
	<!-- Servlet mappings -->
	<servlet-mapping>
		<servlet-name>api</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ui</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
</web-app>
